body{
    background: linear-gradient(
    to bottom, 
    #ca4a1f 000%, 
    #442722 020%, 
    #e6e6ad 080%, 
    #8fe9e9 100%
  );
    
}
#title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    color: antiquewhite;

}

.title-container{
    box-sizing: border-box;
    border: 10px solid black;
    border-radius: 50px;
    background-color:#560c0a ;
    margin: 20px 100px;
    padding: 5px;
    
}

ul{
    list-style-position: inside;
    box-sizing: border-box;
    border: 5px dashed white;
    padding: 20px;
    margin: 100px 100px;
    font-weight: 800;
    font-size: 50px;
    
}

li{
    color: blue;
}

.l1,.l2,.l3{
    border: 5px double red;
    border-radius: 50px;
    margin: 50px auto;
    padding: 10px;
    box-sizing: border-box;
}

.l1{background-color: #e6e6ad;}
.l2{background-color: aqua;}
.l3{background-color: chartreuse;}

